:root{
    --background-color:#f7f4ef;
    --background-white: #FFFFFF;

    --button-text-color:#fff;;
    --button-backgroung-color:#1d4e89;
    --button-backgroung-color-hover:#629adf;
    --border-radius:12px;
    --h1-color:#1D4E89;
    --h2-color:#F5A623;
    --h3-color:#2C3E50;

    --color-notification-not-seen: #ecd7b2;

    --color-font-delete-button:#a93226;
    --color-background-delete-button:#fdedec;
    --color-font-hover-delete-button:#fdedec;
    --color-font-background-delete-button:#a93226;

    --color-font-modify-button:#1d4e89;
    --color-background-modify-button:#ebf2fa;
    --color-font-hover-modify-button:white;
    --color-font-background-modify-button:#1d4e89;

    --size-icon-mobile:32px

    



}
body{
    min-height: 100vh;
}
h1{
    font-family: "DM Serif Display", serif;
    font-weight: 500;
    color: #1D4E89;
    font-size: 30px;
    margin: 5px 0px;
}
h2{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #F5A623;
    font-size:15px ;
    margin: 5px 0px;
}
h3{
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    color: #2C3E50;
    font-size:18px ;
    margin: 5px 0px;
}
p, a{
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: #57534E;
    font-size:16px ;
}