node_modules
/.svelte-kit
api/generated/prisma

.output
.vercel
.netlify
.wrangler

client/build
client/.svelte-kit
api/uploads

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
