# Database
DATABASE_URL=postgresql://<username>:<password>@<localhost>:5433/<database>
DATABASE_URL_DOCKER=postgresql://<username>:<password>@<localhost>:5432/<database>

# JWT Configuration
JWT_SECRET="XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX"
JWT_ACCES_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
# Server
PORT=3000
NODE_ENV="development"

ALLOWED_ORIGINS=*

EMAIL_USER=ton-mail@gmail.com
EMAIL_PASS=hjdshjsbdffjsbf

CORS_ORIGIN_URL=
